@import url('https://fonts.googleapis.com/css?family=Electrolize&display=swap');

body {
  margin: 0;
  overflow: hidden;
  font-family: 'Electrolize', sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #ebdbb2;
  background: #282828;
}

h1#title {
  position: fixed;
  width: 100%;
  top: 0;
  text-align: center;
  line-height: 40px;
  font-size: 32px;
}

div#description {
  text-align: center;
  position: fixed;
  bottom: 0;
  padding: 20px;
  width: calc(100% - 40px);
  background-color: rgba(40, 40, 40, 0.7);
}

div#description ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  max-width: 800px;
}
div#description ul li {
  display: inline;
}

li:nth-child(1) {
  color: #fabf2f;
}
li:nth-child(2) {
  color: #b16286;
}
li:nth-child(3) {
  color: #458588;
}
li:nth-child(4) {
  color: #ebdbb2;
}
li:last-child {
  color: #ebdbb2;
}
span.km {
  background-color: #1d2021;
  padding: 1px 4px;
  border-radius: 5px;
  white-space: nowrap;
}

.styled-select {
  width: 100%;
  height: 39px;
  margin: 0 10px 10px 0;
  overflow: hidden;
  border: 1px solid #665c54;
  background-color: #1d2021;
  position: relative;
}

.styled-select select {
  background: transparent;
  width: 308px;
  height: 40px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  color: #ebdbb2;
  -webkit-appearance: none;
}

.styled-select:before {
  height: 40px;
  width: 40px;
  content: "";
  pointer-events: none;
  background: url(../image/dropdown-arrow.png) no-repeat 50% 50% #282828;
  position: absolute;
  right: 0;
  top: 0;
}

.styled-select select:focus {
  outline: none;
  background: #1d2021;
}

.styled-select .highlight {
  background-color: #1d2021;
}

#input {
  position: fixed;
  opacity: 0;
  top: -500px;
  left: -1px;
  padding: 20px 10px 0px 20px;
  background-color: #1d2021;
  max-width: 450px;
  border: 1px solid #665c54;
  transition: top 400ms ease-in-out, opacity 400ms ease-in-out;
}

#input.visible {
  top: -1px;
  opacity: 1;
}

#input form {
  display: flex;
  flex-flow: column;
}

#input .row {
  display: flex;
  flex-flow: row;
}

#input .col {
  margin-right: 10px;
  flex-grow: 1;
  width: 200px;
}

@media (max-width: 670px) {
  #input {
    width: calc(100% - 30px);
  }
  #input .col  {
    width: 50%;
  }
}

#input .col > div {
  position: relative;
}

#input label {
  min-width: 34px;
  font-size: 14px;
  padding: 6px 10px 7px 10px;
  border: 1px solid #665c54;
  background: #282828;
  color: #928374;
  position: absolute;
  right: 0;
}

.license, .license a {
  margin: 0;
  font-size: 12px;
  color: #ebdbb2;
  text-align: right;
  padding-right: 6px;
}

input {
  font-size: 16px;
  border: 1px solid #665c54;
  color: #ebdbb2;
  background: #1d2021;
  padding: 10px;
  width: calc(100% - 22px);
  margin: 0px 10px 10px 0;
}

input:focus {
  background: #3c3836;
}

button {
  outline: none;
  font-size: 12px;
  border: 1px solid #076678;
  color: #ebdbb2;
  background: #122E4D;
  border-radius: 3px;
  margin: 0 10px 10px 0;
  padding: 12px 10px 12px 10px;
  width: 100%;
  cursor: pointer;
}

button:hover {
  background: #1d2021;
}

button#edit {
  position: absolute;
  margin: 0;
  top: 0;
  border: 0;
  left: -50px;
  opacity: 0;
  width: 50px;
  background: transparent;
  transition: left 400ms ease-in-out, opacity 400ms ease-in-out;
}

button#edit.visible {
  left: 0;
  opacity: 1;
}

div.error {
  color: #cc241d;
  margin: 0 0 20px 0;
  text-align: center;
}
